<h2>New Post</h2>
 <form class="" action="<%= posts_url %>" method="post">
   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
   
   <label>Title
     <input type="text" name="post[title]" value="">
   </label><br>
   
   <label>URL
     <input type="text" name="post[url]" value="">
   </label><br>
   
   <label>Content<br>
     <textarea name="post[content]" rows="8" cols="80"></textarea>
   </label><br>
   
   <label>Subs<br>
    <% Sub.all.each do |sub| %>

      <input type="checkbox" name="sub[title]" value=""><%= sub.title %> <br>
    <% end  %>
   </label>
   
   <input type="submit" name="" value="Post that Shiz">
 </form>
